<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Employee Detail</h2>
        </div>
        <%= flash[:notice] %>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Personal Information</h4>
                    <p><b>First Name:</b> <%= @employee.first_name %> </p>
                    <p><b>Last Name:</b> <%= @employee.last_name %> </p>
                    <p><b>Email:</b> <%= @employee.email %> </p>
                    <p><b>Age:</b> <%= @employee.age%> </p>
                </div>
                <div class="col-lg-6">
                    <h4>Address Detail</h4>    
                       <p><b>Country:</b> <%= @employee.first_name %> </p>
                    <p><b>City:</b> <%= @employee.last_name %> </p>
                    <p><b>House Address:</b> <%= @employee.address_line_1 %> </p>
                    <p><b>PinCode:</b> <%= @employee.pincode%> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <%= link_to 'Back', employees_path, class: 'btn btn-outline-primary btn-xs' %>
                    <%= link_to 'Delete', employee_path(@employee) , method: :delete, data: {
                        confirm: "Are you sure !!!"
                    }, class: 'btn btn-outline-danger btn-xs' %>
                </div>
            </div>
        </div>
    </div>
</div>

