<h1>Hello</h1>
<h1><%= @title_text  %></h1>
<p><%= @subTitle_text %></p>

<%= link_to 'Create Employee' employe_create_path %>
<%= link_to 'Create Employee' 'employe/create' %>

<%=  render 'share/text' %>